<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AutoLotConnectionString1" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=AutoLot;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>